
.square {

    height: 50px;
    width: 50px;
    background-color: rgb(28, 33, 104)
}

.square1 {
    height: 50px;
    width: 50px;
    background-color:rgb(76, 70, 167);
}

.new {
    position: absolute;
    left: 500px;
    bottom: 700px;
}

p{
    font-size: 230%;
    text-align: left;
}

.col-sm-1
{
    top: 15px;
}
